*{
  margin: 0;
}
.app{
  background-color: #FAFAFA;
  /* height: 100vh; */
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsLeft
{

}
.app__postsRight
{
  padding-left: 20px;
}